﻿@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to Dawstin's Game Art Nexus</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nintendo Games and Abstract Art</td>
                <td>49.99</td>
            </tr>
            <tr>
                <td>Arcade and Gallery</td>
                <td>$5/hour</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Dawstin's Game Art Nexus</h2>
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Per interdum mattis eget mollis metus felis neque tincidunt.
    Aliquet pulvinar pharetra tincidunt turpis enim. Ut lacus consequat magna ut sagittis sem ut iaculis platea.
    Praesent per purus nisl pulvinar integer cras. Augue ut sapien non taciti dis semper mollis.
    Sed elementum etiam placerat torquent ut phasellus commodo. Platea ante vivamus vivamus eros vitae ultrices.
</p>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>